body {
    background: linear-gradient(to right ,#4daf54 , #3d8880);
    width: 100%;
    
}

.content {
    display: flex;
    width: 80%;
    height: 100vh;
    margin: 50px auto;
}

.navbar {
    background-color: #272d40;
    color: white;
    width: 19%;
    margin: 0 12px;
    border-radius: 20px;
    overflow: hidden;
    
}
.navbar__img {
    width: 600px;
    height: 30%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.navbar h3{
    font-size: 25px;
    margin-left: 30px;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
}

.navbar__list-item {
    font-size: 20px;
    margin: 20px 20%;
    padding: 20px 0px;
    border-bottom: 1px solid #888;
}

.navbar__list-item:hover  {
    color:  rgb(223, 83, 83);
    cursor: pointer;
}

.product {
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item {
    width: 24%;
    margin: 6px 0;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #272d40;
    color: white;
    border-radius: 20px;
    overflow: hidden;
}

.product__item-img {
    width: 100%;
    height: 50%;
    object-fit: contain;
    background-position: center;
}

.product__item-content {
    padding: 0 6px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
}

.product__item-content span {
    color: rgb(255, 71, 71);
}

.product__item-active {
    padding: 0px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    transition: 0.25s ease-in;
}

.product__item-active-left:hover {
    transform: scale(0.9);
}

.product__item-active-left {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #4daf54;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}

.product__item-active-right:hover {
    transform: scale(0.9);
}

.product__item-active-right {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: rgb(252, 96, 96);
    color: white;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}
